{% extends "news_admin/base.html" %}

{% block title %}
  | Login
{% endblock title %}

{% block extra_css %}
  <style>
    li {
        color: red;
    }
  </style>
{% endblock extra_css %}

{% block content %}

  {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ form.non_field_errors }}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      {{ form.username.errors }}
      <input type="text"
             class="form-control"
             id="username"
             placeholder="Enter username.."
             name="username"/>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      {{ form.password.errors }}
      <input type="password"
             class="form-control"
             id="password"
             placeholder="Enter password.."
             name="password"/>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock content %}
