{% extends "news_admin/base.html" %}

{% block extra_css %}
  <style>
    ul {
        color: red;
    }

    label {
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 10px;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <form action=""
        method="post"
        class="post-form"
        novalidate
        enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    <div class="mt-3">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
{% endblock content %}
